/* 餈質 */
.contact {
  border-collapse: collapse;
}

.contact tr{
  height: 7rem;
}

.contact th{
  width: 150px;
  background-color: white;
  color: black;
  /* 餈質 */
  /* border-bottom: solid 1px #fff; */
  text-align: right;
}

.contact td{
  /* width: 480px; */
  padding-left: 1rem;
  /* border: solid 1px #B1B1B1; */
}

/*
.contact tr:last-child th{
  border-color: #B1B1B1;
}
*/
.hoge {
  width: 480px
}

.contact-submit {
  height: 4rem;
  width: 80px;
  font-size: 2rem;
  color: white;
  background-color: #B1B1B1;
}

.contact-submit:hover {
  opacity: 0.6;
}

.submit-wrap {
  text-align: center;
  padding-bottom: 100px;
}
